<table class="tabela">
  <thead class="tabela__cabecalho">
    <tr>
      <th class="tabela__cabecalho__conteudo">Data</th>
      <th class="tabela__cabecalho__conteudo">Valor</th>
      <th class="tabela__cabecalho__conteudo">Destino</th>
    </tr>
  </thead>
  <tbody *ngIf="transferencias?.length > 0; else listaVazia">
    <tr class="tabela__linha" *ngFor="let transferencia of transferencias">
      <!-- <td>{{ transferencia?.data | date: 'dd/MM/yyy' }}</td> -->
      <!-- <td>{{ transferencia?.valor | number: '1.2-2' }}</td> -->
      <td class="tabela__conteudo">{{ transferencia?.data | date: 'shortDate' }}</td>
      <td class="tabela__conteudo">{{ transferencia?.valor | currency }}</td>
      <td class="tabela__conteudo">{{ transferencia?.destino }}</td>
    </tr>
  </tbody>
</table>
<ng-template #listaVazia>
  <p>Nenhuma operação cadastrada.</p>
</ng-template>
